<nav>
   <nav class="navbar">
        <a href="#" class="logo"></a>
        <div class="nav-links">
            <a href="/dashboard" class="nav-item dropdown">Home</a>
            <a href="/registerform" class="nav-item dropdown">Register</a>
            
            <button class="btn-logout">ออกจากระบบ</button>
        </div>
    </nav>
</nav>
