/* Modal overlay styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark background with transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the modal appears above other content */
  }
  
  /* Modal content styling */
  .modal-content {
    background: #fff; /* White background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Spacing inside the modal */
    max-width: 500px; /* Limit the width of the modal */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth effect */
    text-align: center; /* Center text inside the modal */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }
  .delete-group-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    ;
  }
  
  /* Modal button styling */
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff; /* White text color */
  }
  
  .btn-danger {
    color: #ffffff;
    border: 1px solid #db3f56;
    border-radius: 10px;
    flex: 1;
    background-color: rgb(255, 41, 41);
}
  
  .btn-danger:hover {
    color: #ffffff;

    background: #c0392b; /* Darker red on hover */
  }
  
  .btn-secondary {
    border-radius: 10px;

    flex: 1;
    background: #95a5a6; /* Gray background for the cancel button */
  }
  
  .btn-secondary:hover {
    background: #7f8c8d; /* Darker gray on hover */
  }
  